
div {
    margin-bottom: 5px;
}

#bord {
    border-style: groove;
    border-width: thin;
    border-color: white;
}

.quest {
    border-style: groove;
    border-width: thin;
    border-color:white;
    border-radius: 5px;
    margin: 10px;

}

.pet {
    margin-left: 45px;
}

.p-quest {
    padding-left: 45px;
}