
div {
    margin-bottom: 5px;
}

#bord {
    border-style: groove;
    border-width: thin;
    border-color: white;
    background-color: aquamarine;
    padding-left: 25px;
}

.quest {
    border-style: groove;
    border-width: thin;
    border-color:rgb(189, 59, 20);
    border-radius: 15px;
    margin: 10px 100px 

}

.pet {
    margin-left: 45px;
}

.p-quest {
    padding-left:10;
     

}

.spn {
    
    box-align: center;
    margin: 50px;
    text-align: center;
    
}