
div {
  margin-bottom: 5px;
}

#bord {
    border-style: groove;
    border-width: thin;
    border-color:rgb(189, 59, 20);
    border-radius: 25px;
    padding: 7px 25px;
    margin-bottom: 10px;
}

.quest {
    border-style: groove;
    border-width: thin;
    border-color:rgb(189, 59, 20);
    border-radius: 25px;
    margin: 10px 60px 

}

.pet {
    margin-left: 45px;
}

.p-quest {
    padding-left:10;
     

}

.spn {
    
    box-align: center;
    margin: 50px;
    text-align: center;
    
}

.icony {
    margin:auto;
}